.test {
  background-color: #cc9b94;
  display: flex;
  flex-direction: column-reverse;
  min-height: 100vh;
}

.footer {
  padding: $s-size $xl-size;
}

.footer__secondRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: $m-size;
}

.footer__logo {
  max-width: 150px;
  max-height: auto;
}

.footer__pages {
  padding-top: $s-size;
  display: flex;
  justify-content: space-between;
}

.footer__pageTitle {
  font-weight: 600;
}

.footer__pageLink {
  font-weight: 400;
}

@media (min-width: $desktop-breakpoint) {
  .footer__info {
    margin-right: $m-size;
    width: 25vw;
  }

  .footer__firstRow {
    display: flex;
    flex-direction: row;
    padding: x$s-size;
  }

  .footer__pages {
    display: flex;
    justify-content: center;
    width: 50vw;
  }

  .footer__pageList {
    margin: $m-size;
  }
}
